.app {
  padding: 32px;
  font-family: system-ui, Helvetica;
  max-width: 400px;
  margin: auto;
  background-color: #008b85;
}

h1 {
  margin-bottom: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input {
  padding: 8px;
  font-size: 14px;
}

button {
  padding: 10px;
  background-color: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #1e40af;
}


.status {
  margin-top: 1rem;
  font-weight: bold;
}

.connecting {
  color: orange;
}

.connected {
  color: green;
}

.error {
  color: red;
}

input:disabled,
button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.chat {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.messages {
  flex: 1;
  overflow-y: auto;
  border: 1px solid #333;
  padding: 1rem;
  margin-bottom: 1rem;
}

.message {
  padding: 0.5rem;
  margin-bottom: 0.3rem;
  background: #222;
  border-radius: 4px;
}

.chat-input {
  display: flex;
  gap: 0.5rem;
}
